@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(/Images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.digit-count {
  font-size: 9px;
  font-weight: 600;
  position: relative;
  border-radius: 50%;
  color: black;
  border: 2px solid black;
  top: -6px;
  left: -10px;
  padding: 3px;
  background-color: white;
}
/* ============================ Nav Bar Start ================================================== */
.mainLoginInput {
  height: 40px;
  padding: 0px;
  font-size: 30px;
  margin: 5px 0;
}

.mainLoginInput::-webkit-input-placeholder {
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  padding-top: 2px;
  color: hsl(9, 40%, 60%);
}

.mainLoginInput::-moz-placeholder {
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  padding-top: 2px;
  color: hsl(9, 40%, 60%);
}

.mainLoginInput:-ms-input-placeholder {
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  padding-top: 2px;
  color: hsl(9, 40%, 60%);
}
/* =============================== Searchbar icon placeholder ====================== */
.navArea .circle1 {
  border-radius: 50%;
  margin-left: 4rem;
  padding: 27px;
  margin-bottom: -19px;
  background-color: #fff;
}
.navleft {
  margin-left: 12rem;
}
.box {
  width: 100%;
  background: #333;
  display: inline-block;
}
#icon {
  color: #fff;
  font-size: 18px;
  position: relative;
  top: 5px;
  font-weight: 500;
  cursor: pointer;
  padding-left: 10px;
}
#icon a {
  text-decoration: none;
}
nav {
  display: none;
}
nav ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 0;
  background-color: #11575c;
}
nav li {
  display: block;
  font-size: 16px;
  color: white;
  margin: 0 5px;
}
ul.navArea > li > a {
  color: #fff;
}
nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: inherit;
}
.sub-menu li {
  list-style-type: none;
  display: inline-block;
  width: 140px;
}
ul.navArea li ul.sub-menu {
  display: none;
  position: absolute;
}
ul.navArea li {
  position: relative;
}
ul.navArea li:hover ul.sub-menu {
  display: block;
}
.sub-menu li {
  margin-left: 0 !important;
}
ul.sub-menu > li > a {
  color: #fff;
}
ul.navArea > li > a:hover,
ul.sub-menu > li > a:hover {
  color: deepskyblue;
}
#searchBox {
  display: inline-block;
  padding-top: 4px;
  padding-right: 42px;
  float: right;
}
#searchBox input {
  width: 300px;
  float: left;
  border-radius: 2px 0 0 2px;
  font-size: 14px;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
}
#submitBtn {
  width: auto !important;
  float: right;
  border-radius: 0 5px 5px 0;
  background: #565656;
  font-size: 13px;
  font-weight: 600;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  color: #fff;
}
#submitBtn .search-fa-icon {
  padding: 0px;
}

@media only screen and (max-width: 720px) {
  nav ul {
    width: 100% !important;
  }
  #sub-menu {
    display: none;
  }
  nav a {
    padding: 5px 10px;
  }
  .box {
    padding: 5px;
  }
  #navArea {
    display: none;
    height: 24px;
    line-height: 24px;
  }
  .toggle-nav {
    padding: 6px 10px;
  }
  #searchBox input {
    width: 150px;
    padding: 5px;
    margin: 0;
  }
  #icon img {
    width: 22px;
  }
}
@media only screen and (min-width: 720px) {
  #icon {
    display: none;
  }
  #navArea {
    height: 50px;
    line-height: 50px;
  }
  nav {
    display: block !important;
  }
  nav li {
    display: inline-block;
  }
  #searchBox input {
    height: 50px;
    padding: 10px;
    margin: 5px 0;
  }
  #icon img {
    width: 22px;
  }
}
.fafaitem-space {
  margin-left: 4px;
}

/* ============================ Navbar Section End ============================================== */
/*  =========================== Payment Section Start ============================ */

.apply-btn {
  padding: 8px 8px;
  background-color: #565656;
  color: white;
  font-weight: 700;
  font-size: 15px;
  border: none;
  margin-left: 1rem;
  border-radius: 10px;
}
.payment-form input {
  border: 1px solid #b3b3b3;
  padding: 8px 8px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;
}
.bank-imgages {
  display: flex;
  gap: 1rem;
  padding-top: 18px;
  padding-left: 44px;
}
.bank-imgages img {
  height: 36px;
}
.netbanking {
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 19px;
  padding: 8px 8px;
  color: #565656;
  background-color: #eaeaea;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 700;
  margin-left: 8rem;
}
.cash-delivery {
  padding: 8px 26px;
  background-color: rgba(74, 144, 226, 0.21);
  border: 1px solid #4a90e2;
  width: fit-content;
  padding-left: 0rem;
  line-height: 32px;
}
.payment-maindiv {
  background-color: #ffffff;
  line-height: 60px;
  word-spacing: 6px;
  padding-bottom: 2rem;
  font-size: 24px;
  padding-top: 2rem;
  padding-inline: 6rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.payment-section {
  padding-inline: 4rem;
  margin-top: 3rem;
}
input[type="radio" i] {
  margin-left: 24px;
  accent-color: #4a90e2;
  width: 18px;
  height: 18px;
}
/* --------------------------------new */
.payment-h1tag {
  font-weight: 700;
  color: #ea4335;
  font-size: 30px;
}
.payment-h3tag {
  font-size: 26px;
  font-weight: 500;
}
.apply-btn-div1 {
  display: flex;
  padding-left: 8rem;
}
.h2-anotherpayment {
  font-size: 26px;
  font-weight: 500;
}
.rbi-guidelines {
  color: #9a9797;
  font-size: 28px;
  padding-left: 5rem;
  line-height: normal;
  font-weight: 600;
}
.cashon-delivery {
  color: #9a9797;
  font-size: 24px;
  font-weight: 600;
  padding-left: 4rem;
}

/* --------------------------------- end */
/* ========================== Payment Section End =================================== */

.place-order-div {
  margin-top: 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  background-color: white;
  padding: 8px 18px;
  direction: rtl;
}
.place-order-btn {
  float: right;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  border-radius: 24px;
  border: none;
  background-color: #f04747;
}
/* ==================== Footer Section ===================================== */
.social-media-icon .fa {
  padding: 12px;
  font-size: 24px;
  width: 50px;
  height: 52px;
  text-align: center;
  text-decoration: none;
  margin: 8px 8px;
}

.fa:hover {
  opacity: 0.7;
}
.social-media-icon .fa-facebook {
  background: white;
  border-radius: 15px;
  color: #11575c;
}
.social-media-icon .fa-instagram {
  background: white;
  border-radius: 15px;
  color: #11575c;
}
.social-media-icon .fa-twitter {
  background: white;
  border-radius: 15px;
  color: #11575c;
}
.social-media-icon .fa-linkedin {
  background: white;
  border-radius: 15px;
  color: #11575c;
}
.links-About {
  display: flex;
  flex-direction: column;
}
.footer-main-div {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 153px;
  background-color: #11575c;
  margin-inline: 0px;
  padding: 60px 60px;
  margin-top: 1rem;
}
.social-media-icon h2 {
  color: #d9d9d9;
  font-size: 3rem;
  font-weight: 900;
}
.social-media-icon p {
  color: white;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
}

.company h2 {
  font-size: 28px;
  font-weight: 600;
  color: #d9d9d9;
  line-height: 40px;
}
.links-About a {
  color: white;
  text-decoration: none;
  font-size: 21px;
  line-height: 56px;
  font-weight: 300;
}
.mobile-navbar{
  display: none;
}
.cart{
  display: none;
}
.fixed-div-section{
  display: none;
}

/* ========================== Footer Section End ========================== */
/* ====================== Desktop Site View ===================== */
@media (min-width: 769px) and (max-width: 1024px) {

  .navleft {
    margin-left: 1rem;
}
nav a {
  display: block;
  padding: 6px;
  font-size: 14px;
  text-decoration: none;
  color: inherit;
}
.footer-main-div{
  display: none;
  gap: 40px;
}
.payment-maindiv {
  background-color: #ffffff;
  line-height: 55px;
  word-spacing: 3px;
  padding-bottom: 2rem;
  font-size: 22px;
  padding-top: 2rem;
  padding-inline: 3rem;
}
.payment-section {
  padding-inline: 2rem;
  margin-top: 3rem;
}
.payment-h1tag {
  font-weight: 700;
  color: #ea4335;
  font-size: 18px;
}
.rbi-guidelines {
  color: #9a9797;
  font-size: 14px;
  padding-left: 5rem;
  line-height: normal;
  font-weight: 600;
}
.h2-anotherpayment {
  font-size: 18px;
  font-weight: 500;
}
.cashon-delivery {
  color: #9a9797;
  font-size: 14px;
  font-weight: 600;
  padding-left: 2rem;
}
.payment-h3tag {
  font-size: 20px;
  font-weight: 500;
}
}
