@media (min-width: 340px) and (max-width: 480px) {


    /* ================ Sliding Section Added ================================ */
.container_2 {
    position: relative;
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
  }
  .items-position {
    position: relative;
  }
  .img-heading {
    position: absolute;
    top: 6%;
    right: 6%;
  }
  .img-heading h1 {
    font-size: 6rem;
    color: black;
    font-weight: 600;
  }
  .Arrow-position-1 {
    position: absolute;
    top: 90%;
    left: 20%;
  }
  .Arrow-position-2 {
    position: absolute;
    top: 90%;
    right: 20%;
  }
  .carousel-indicators {
    display: none;
  }
  .cards-items-wish {
    position: relative;
  }
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 100%;
  }
  /* ====================== Sliding Images End ============================ */
  
  /* ====================== Section 2 ============================== ========================*/
  
  /* ======================== Shop By Categories ================================= */
  .section-3 {
    padding-inline: 12rem;
    margin-top: 6rem;
  }
  .sectin3-heading h1 {
    font-size: 5rem;
    font-weight: 700;
  }
  .catehories-maindiv {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: auto auto;
    gap: 60px;
    padding: 10px;
  }
  .img1-div {
    position: relative;
    width: fit-content;
  }
  .img1-div img {
    width: 100%;
  }
  .shop-category-button {
    position: absolute;
    top: 0%;
    text-align: start;
    right: 0px;
    background-color: black;
    font-size: 30px;
    color: white;
    font-weight: 700;
    border: none;
    padding: 3px 12px;
  }
  .check-browscategory-button {
    border: 2px solid black;
    padding: 12px 32px;
    font-size: 4rem;
    font-weight: 600;
    background-color: transparent;
  }
  .browsallcategory {
    margin-top: 12rem;
    text-align: center;
  }
  
  /* ============================== Heart Shape ================================= */
  input[type="checkbox"] {
    display: none;
  }
  
  input[type="checkbox"] + label {
    position: relative;
    padding-left: 35px;
    display: inline-block;
    font-size: 16px;
  }
  
  input[type="checkbox"] + label:before {
    content: "\2665";
    top: -11px;
    left: -8px;
    font-size: 40px;
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 3px;
    color: white;
    display: block;
    position: absolute;
    transition: 0.5s ease;
  }
  
  input[type="checkbox"]:checked + label:before {
    border: 1px solid transparent;
    background-color: transparent;
  }
  
  input[type="checkbox"]:checked + label:after {
    content: "\2764";
    font-size: 40px;
    position: absolute;
    top: 2px;
    left: -3px;
    color: red;
    transition: 0.5s ease;
  }
  .heart-shape {
    position: absolute;
    right: 3%;
    top: -2%;
  }
  /* ================================ heart Shape END ======================================= */
  
  .shoes-details {
    text-align: center;
    font-weight: 600;
    margin-top: 22px;
    font-size: 22px;
    line-height: 33px;
  }
  .checked {
    color: orange;
  }
  
  .seemore-btn {
    float: right;
    border-radius: 28px;
    margin-top: 12px;
    border: 3px solid #6c6c6c;
    margin-right: 40px;
    background: transparent;
    font-size: 24px;
    color: #6c6c6c;
    padding: 7px 27px;
  }
  /* ================== Shop By Category END ============================== */
  
  /* ===================== Image Slider ======================================= */
  
  .section-2-cardSlider{
      margin-top: 16rem;
  }
  
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 100%;
  }
  .cards-items-wish {
    height: 100%;
    padding: 4px;
    text-align: center;
  }
  
  .card-button-1 {
    margin-top: 20px;
    border: none;
    font-size: medium;
    font-weight: 600;
    border-bottom: 2px solid black;
    padding-bottom: 4px;
    border-bottom-width: 4px;
  }
  .card-title {
      font-weight: 700;
      font-size: 26px;
  }
  .carousel-control-next, .carousel-control-prev{
      width: 5%;
  }
  
  .carousel-control-prev-icon{
      background-image: url(/Images/whitevectorleft.png);
  }
  .carousel-control-next-icon{
      background-image: url(/Images/whitevectorright.png);
  }
  .carousel-control-next-icon, .carousel-control-prev-icon{
      display: inline-block;
      width: 4rem;
      padding: 32px;
      background-color: black;
      height: 5rem;
      background-repeat: no-repeat;
      color: black;
      background-position: 50%;
      background-size: 100% 100%;
  }
  .padding-inner{
      position: relative;
  }
  .shop-category-button{
      position: absolute;
      top: 85%;
      text-align: start;
      right: 0px;
      background-color: black;
      font-size: 30px;
      color: white;
      font-weight: 700;
      border: none;
      padding: 3px 12px;
  }
  .padding-inner img{
      width: 100%;
  
  }
  .justify-content-around{
      gap: 4rem;
      justify-content: center!important;
  }
}